/* Presets */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fill-color:#c9c9c9;
}

html{
    scroll-behavior: smooth;
}


.flex{
    display:flex;
}

.grid{
    display: grid;
}




/* NavBar */

.navbar{
    margin: 0 13%;
}

.cards-section{
    
    margin-inline: auto;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn-se{
    color: green;
}



/* Short-Description-Section */

.wrapper-short-description{
    margin-top:2%;
    justify-content: center;
    column-gap: 1%;
}

.box{
    overflow: hidden;
    width: 400px;
}

.box img{
    
    width: 100%;
}

.box p{
    color: #000000;
    text-align: center;
}



/* Gallery-Section */

.wrapper-gallery{
    margin-top: 3%;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: repeat(4,1fr);
    gap:1%;
    grid-template-areas: 'box1 box2 box3 box4'
                         'box1 box5 box6 box7'
                         'box8 box9 box9 box9'
                         'box8 box9 box9 box9';
    height: 100vh;

    width: 1241px;
    margin-inline: auto;
}


.container{
    text-align: center;
    background-color: #d81e3d;
    color: antiquewhite;
}

.container img{
    margin-top: 20px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.box-1{
    grid-area: box1;
}

.box-2{
    grid-area: box2;
}

.box-3{
    grid-area: box3;
}

.box-4{
    grid-area: box4;
}

.box-5{
    grid-area: box5;
}

.box-6{
    grid-area: box6;
}

.box-7{
    grid-area: box7;
}

.box-8{
    grid-area: box8;
}

.box-9{
    grid-area: box9;
}

.box-8 img{
   width: 220px;
}

.box-9 img{
    width: 400px;
}


/* Cards-Section */

.wrapper-cards{
    justify-content: center;
    margin: 3%;
    column-gap: 10.6%;
}

.wrapper-info{
    justify-content: center;
    column-gap: 5.6%;
    margin-top: 10%;
    margin-left: 10%;
}

.wrapper-details{
    margin: 5% 18%;
    justify-content: space-between;
}




/* Media-Queries-Section */



@media screen and (max-width:1258px) {
    .wrapper-gallery{
        height: 98vh;
        width: 1220px; 
    }

    
}

@media screen and (max-width:1220px) {
    .wrapper-gallery{
        height: 98vh;
        width: 1150px; 
    }

    
    
}

@media screen and (max-width:1150px) {
    .wrapper-gallery{
        height: 98vh;
        width: 1100px; 
    }

}

@media screen and (max-width:1100px) {
    .wrapper-gallery{
        height: 95vh;
        width: 1000px; 
    }    
}

@media screen and (max-width:1000px) {
    .wrapper-gallery{
        height: 92vh;
        width: 900px; 
    }

}

@media screen and (max-width:900px) {
    .wrapper-gallery{
        height: 86vh;
        width: 850px; 
    }

}

@media screen and (max-width:850px) {
    .wrapper-gallery{
        height: 81vh;
        width: 750px; 
    }

    .wrapper-short-description{
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .box{
        width: 300px;
    }

    .wrapper-short-description{
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .box{
        width: 300px;
    }

}


@media screen and (max-width:750px) {
    .wrapper-gallery{
        height: 72vh;
        width: 650px; 
    }

}

@media screen and (max-width:650px) {
    .wrapper-gallery{
        height: 65vh;
        width: 550px; 
    }

}



@media screen and (max-width:620px) {
    .box{
        width: 290px;
    }
}

@media screen and (max-width:620px) {
    .wrapper-cards{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .card{
        width: 100%;
    }

    .wrapper-info{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .wrapper-details{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}